{% extends 'base.html.twig' %}

{% block title %}Modifier {{ category.name }} - BiblioConnect{% endblock %}

{% block body %}
<h1>Modifier : {{ category.name }}</h1>
<div class="card"><div class="card-body">
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('app_librarian_categories') }}" class="btn btn-outline-secondary ms-2">Annuler</a>
    {{ form_end(form) }}
</div></div>
{% endblock %}
